#home, #otra{
    max-width : 500px;
    max-height : 1000px;
}
.fit-content, .bottom-footer {
    position : absolute;
}
.fit-content {
    top : 44px;
    bottom : 44px;
    left : 0;
    right : 0;
}
.fit-content > div {
      height : 100%;
}
.bottom-footer {
        bottom : 0;
        width : 100%;
}
